<?xml version="1.0" encoding="utf-8" ?>
<nlog xmlns="http://www.nlog-project.org/schemas/NLog.xsd"
      xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
      autoReload="true">
  <extensions>
    <add assembly="NLog.Web.AspNetCore"/>
  </extensions>

  <targets>
    <target xsi:type="File" name="errorfile" fileName="C:\www\gaspersoft.com\logs\Guardias-Error-${shortdate}.log"
            layout="${longdate}|${level:uppercase=true}|${logger}|${aspnet-mvc-action}|${message}" />
  </targets>
  <rules>
    <!--Skip non-critical Microsoft logs and so log only own logs (BlackHole) -->
    <logger name="Microsoft.*" maxlevel="Fatal" final="true" />
    <logger name="System.Net.Http.*" maxlevel="Info" final="true" />
    
    <!--Todos los errores-->
    <logger name="*" minlevel="Error" writeTo="errorfile" />
  </rules>
</nlog>